# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
csv_path = 'outputdata/cities_summary.csv'
cities_df = pd.read_csv(csv_path)
cities_df.head()

,City,Lat,Lon,Max Temp (F),Humidity,Cloudiness,Wind Speed,Country,Date
0,kahului,20.8947,-156.4700,82.98,74,40,20.71,US,1627327554
1,port alfred,-33.5906,26.8910,64.51,35,100,10.02,ZA,1627327571
2,narrabri,-30.3167,149.7833,35.69,87,0,0.00,AU,1627327572
3,broome,42.2506,-75.8330,88.02,47,20,1.99,US,1627327573
4,panlaitan,12.1191,119.8486,83.34,82,92,20.85,PH,1627327397

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with personal API key
gmaps.configure(api_key = g_key)

In [4]:
# locations on df
locations = cities_df[["Lat", "Lon"]]

# Humidity
humidity = cities_df["Humidity"]

In [5]:
# Map + Heatmap
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = humidity, 
                                 dissipating = False, max_intensity = 100,
                                point_radius = 1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
cities_df.head()

,City,Lat,Lon,Max Temp (F),Humidity,Cloudiness,Wind Speed,Country,Date
0,kahului,20.8947,-156.4700,82.98,74,40,20.71,US,1627327554
1,port alfred,-33.5906,26.8910,64.51,35,100,10.02,ZA,1627327571
2,narrabri,-30.3167,149.7833,35.69,87,0,0.00,AU,1627327572
3,broome,42.2506,-75.8330,88.02,47,20,1.99,US,1627327573
4,panlaitan,12.1191,119.8486,83.34,82,92,20.85,PH,1627327397

In [20]:
# Ideal weather conditions for a nice sunny vacation

# Temperature conditions - between 70 and 80 degrees F
temp_con = (cities_df["Max Temp (F)"] >= 70) & (cities_df["Max Temp (F)"] <= 80)

# Humidity conditions - between 60 to 75 precent
humidity_con = (cities_df["Humidity"] >= 60) & (cities_df["Humidity"] <= 75)

# Cloudiness conditions - below 10 percent
cloud_con = (cities_df["Cloudiness"] < 10)

# Conditions df
conditions_df = cities_df.loc[temp_con & humidity_con & cloud_con]
conditions_df

,City,Lat,Lon,Max Temp (F),Humidity,Cloudiness,Wind Speed,Country,Date
7,caravelas,-17.7125,-39.2481,75.04,69,5,7.74,BR,1627327576
29,nador,35.1740,-2.9287,78.87,73,0,6.91,MA,1627327363
53,arraial do cabo,-22.9661,-42.0278,78.76,64,0,18.41,BR,1627327611
64,atuona,-9.8000,-139.0333,78.04,68,4,25.10,PF,1627327359
135,bengkulu,-3.8004,102.2655,74.21,75,0,4.36,ID,1627327653
146,bandarbeyla,9.4942,50.8122,78.01,75,2,27.45,SO,1627327657
248,masallatah,32.6167,14.0000,76.87,69,0,16.53,LY,1627327697
258,tukrah,32.5341,20.5791,78.49,62,0,18.23,LY,1627327701
356,paita,-5.0892,-81.1144,79.36,70,1,14.61,PE,1627327739
420,sao joao da barra,-21.6403,-41.0511,78.89,74,0,18.39,BR,1627327764
433,sfantu gheorghe,45.8667,25.7833,70.57,66,5,4.07,RO,1627327644
448,vila franca do campo,37.7167,-25.4333,72.01,74,3,7.11,PT,1627327774
524,liverpool,53.4106,-2.9779,71.62,67,0,1.99,GB,1627327531
563,salinas,36.6777,-121.6555,77.99,75,1,4.61,US,1627327822

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure